form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: lavender;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
}
h1 {
    width: 100%;
    text-align: center;
}